<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
 
  <!--   <http auto-config="true">
        <intercept-url pattern="/Interface*" access="ROLE_USER" />
        <http-basic/>
    </http>
    <global-method-security secured-annotations="enabled" />
    <http pattern="/Interface" security="none"/>
   -->  
   <http pattern="/Interface" security="none"/>
     <http auto-config="true">
     
     <!-- <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" /> -->
     <intercept-url pattern="/Interface/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />
     <form-login login-page="/Login"
     default-target-url="/Interface" login-processing-url="/perform_login"
     authentication-failure-url="/loginError" authentication-success-handler-ref="authenticationSuccessHandler" />
     <logout logout-success-url="/logout" />
     <csrf disabled="true" />
     
     
    	 <!-- <security:intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" />
    	 <form-login login-page="/Login" login-processing-url="/j_spring_security_check" username-parameter="j_username" password-parameter="j_password" default-target-url="/welcome" 
    	 authentication-failure-url="/Interface"
    	 authentication-success-handler-ref="authenticationSuccessHandler"/>
    	 <logout logout-url="/logout" logout-success-url="/Interface"/>
		<csrf/> -->
    </http>
    
    
 	<!-- <beans:bean id="authenticationSuccessHandler"
        class="com.niit.MyShop.UrlAuthenticationSuccessHandler" />
     --> 
     <beans:bean id="authenticationSuccessHandler" class="com.niit.MyShop.UrlAuthenticationSuccessHandler" />   
          <authentication-manager alias="authenticationManager">
        <authentication-provider>
        <!-- <password-encoder hash="sha"/>
            <user-service>
                <user name="lokesh" password="123" authorities="ROLE_USER" />
            </user-service>
         -->    
            <jdbc-user-service data-source-ref="dataSource" 
            				authorities-by-username-query="select id, AUTHORITY from user u, user_roles ur where u.isAdmin=ur.isadmin and id=?"
            				users-by-username-query="select id, password, 'TRUE' from user where id=?"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
        <!-- <beans:bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
 		<beans:property name="cacheSeconds" value="0"/> -->